@model dynamic

@{
    ViewBag.Title = "Welcome".TA();
}

<div class="row">
    <div class="col-lg-6">
        <div class="ibox-content">
            <h2>@Html.TA("Welcome to your new online store!")</h2>
            <p>
                @Html.TA("Setting up an online store isn't just about reaching a new customer base - it's about revolutionizing the way your business works. An online store will open up your products to consumers 24 hours a day, 7 days a week. Consumers tend to shop at all times of the day, so your business becomes an organization that literally generates profit at all hours.")
            </p>
            <p>
                @Html.TA("You are a few steps away from having your own personalized online store. We've outlined the basic steps in this to-do list. Click on each task to complete it. If you need assistance you can always contact us from the link below.")
            </p>
            <div class="hr-line-dashed"></div>
            <a href="http://support.im.com/tickets/new" target="_blank"><span class="fa fa-envelope-o"></span> @Html.TA("Contact Support")</a>
            <a href="@Url.Action("Remove")" class="pull-right"><span class="fa fa-times"></span> @Html.TA("Remove this page")</a>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox-content">
           
        </div>
    </div>
</div>