<section class="about">
    <div class="container">
        <h2 class="title-br">@Html.T("Partnership")</h2>

        <div class="clearfix">
            <div class="certificate-item clearfix">
                <div class="text equalHeight">
                    <p>@((UICulture == "ar") ? "شركة شاندونج لورانس للمنسوجات المحدودة" : "Shandong Lawrance Textiles Co., Ltd.")</p>
                </div>
                <div class="img equalHeight img-shadow">
                    <img src="~/Assets/images/partner-img1.png" alt="">
                </div>
            </div>
            <div class="certificate-item clearfix">
                <div class="text equalHeight">
                    <p>@((UICulture == "ar") ? "شركة سوزو ديلون للمنسوجات المحدودة" : "Suzhou Deylon Textiles Co., Ltd.")</p>
                </div>
                <div class="img equalHeight img-shadow">
                    <img src="~/Assets/images/partner-img2.png" alt="">
                </div>
            </div>
            <div class="certificate-item clearfix">
                <div class="text equalHeight">
                    <p>@((UICulture == "ar") ? "شركة سوزو فوركان للتعبئة المحدودة" : "Suzhou Fourcan Packing Co., Ltd.")</p>
                </div>
                <div class="img equalHeight img-shadow">
                    <img src="~/Assets/images/partner-img3.png" alt="">
                </div>
            </div>
            <div class="certificate-item clearfix">
                <div class="text equalHeight">
                    <p>@((UICulture == "ar") ? "شركة شينجان اليزية للمنسوجات المحدودة" : "Xinjiang Alzeeh Textile Co., Ltd.")</p>
                </div>
                <div class="img equalHeight img-shadow">
                    <img src="~/Assets/images/partner-img4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>